Source: pardus-backgrounds
Section: utils
Priority: optional
Maintainer: Fatih Altun <fatih.altun@pardus.org.tr>
Build-Depends: debhelper (>= 13)
Rules-Requires-Root: no
Standards-Version: 4.5.0
Homepage: https://www.pardus.org.tr

Package: pardus-backgrounds
Architecture: all
Depends: ${misc:Depends}
Description: Pardus Wallpaper Package
 Pardus backgrounds package provides wallpaper set.
